.code-execution-pair {
    border: 1px solid #001270;
    border-radius: 5px;
    background-color: rgba(40, 88, 159, 0.88);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 5pt;
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-block {
    background-color: rgb(39, 80, 141);
    border: 1px solid #001270;
    border-radius: 5px;
    padding: 1em;
    font-family: monospace;
    overflow-x: auto;
    word-wrap: break-word; /* Break long words */
    margin-bottom: 1em;
    margin-top: 1em;
}

.block-tag {
    font-family: monospace;
    color: #000000;
    background-color: #b8b8b8;
    border: 1px solid #000000;
    border-radius: 3px;
    width: fit-content;
    padding: 2pt;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1em;
}

.block-lang {
    font-family: monospace;
    color: #717171;
    background-color: #b8b8b8;
    border: 1px solid #000000;
    border-radius: 3px;
    width: fit-content;
    padding: 2pt;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 1em;
}

.output-header {
    font-family: monospace;
    color: #000000;
    background-color: #b8b8b8;
    border: 1px solid #000000;
    border-radius: 3px;
    width: fit-content;
    padding: 2pt;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1em;
}

