.code-execution-pair {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-block {
    border-radius: 3px;
    font-family: monospace;
    overflow-x: auto;
    word-wrap: break-word; /* Break long words */
    margin-bottom: 1em;
    margin-top: 1em;
}

.block-tag {
    font-family: monospace;
    background: rgba(127, 127, 127, 0.12);
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 3px 3px 0 0;
    padding: 2pt;
    font-weight: bold;
    font-size: 14px;
}

.block-tag + pre {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 0 !important;
}

.block-tag + pre > code {
    border-radius: 0 0 !important;
}

.output-header {
    color: currentColor;
    background: rgba(127, 127, 127, 0.12);
    font-family: sans-serif;
    border: 1px solid currentColor;
    border-radius: 0;
    padding: 2pt;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
}

.output-header + pre{
    margin-top: 0 !important;
    border-radius: 0 0 !important;
}

.output-header + pre > code {
    border-radius: 0 0 !important;
}